<!DOCTYPE html>
<html lang="en">
<head>
	<title>Heart</title>
	
</head>
<body>
<div class="inner">
					<h1>Heart Disease Prediction</h1>
					<p>Enter the patients details to get an estimate<br />
					</p>
				</div>

<div>
  <form action="/result" method="POST">
    <label for="age">age</label>
    <input type="number" id="age" name="age">
    <br>

    <label for="sex">sex</label>
    <input type="number" step="0.01" id="sex" name="sex">
    <br>

    <label for="cp">cp</label>
    <input type="number" step="0.01" id="cp" name="cp">
    <br>

    <label for="trestbps">trestbps</label>
    <input type="number" id="trestbps" name="trestbps">
    <br>

    <label for="chol">chol</label>
    <input type="number" id="chol" name="chol">
    <br>

    <label for="fbs">fbs</label>
    <input type="number" id="fbs" name="fbs">
    <br>

    <label for="restecg">restecg</label>
    <input type="number" step="0.01" id="restecg" name="restecg">
    <br>

    <label for="thalach">thalach</label>
    <input type="number" step="0.01" id="thalach" name="thalach">
    <br>

    <label for="exang">exang</label>
    <input type="number" step="0.01" id="exang" name="exang">
    <br>

    <label for="oldpeak">oldpeak</label>
    <input type="number" id="oldpeak" name="oldpeak">
    <br>
    
    <label for="slope">slope</label>
    <input type="number" id="slope" name="slope">
    <br>
    
    <label for="ca">ca</label>
    <input type="number" id="ca" name="ca">
    <br>
    
    <label for="thal">thal</label>
    <input type="number" id="thal" name="thal">
    <br>
    <input type="submit" value="Submit">

  </form>
</div>
				</form>
			</div>
		</div>
	</div>




<!--===============================================================================================-->
	

</body>
</html>
